@media print {
    @page {
        size: A4;
    }
}

body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 11pt;
    line-height: normal;
}

p {
    margin-block: 0;
}

ul, ol {
    margin-block: 0;
    padding-inline-start: 20px;
}

img {
    max-height: 3in;
    max-width: 100%;
    display: block;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 11pt;
    line-height: normal;
    text-align: left;
}

td, th {
    border: 1px solid #ccc;
    padding: 4px;
}

#title {
    font-weight: bold;
    break-after: avoid-page;
}

div:nth-child(2) {
    break-inside: auto;
}

.question_container {
    margin: 1em 0;
    break-inside: avoid-page;
}

.question {
    margin-bottom: 1em;
    break-inside: avoid-page;
}

.question-content p:first-of-type {
    display: inline;
}

.option_container {
    break-inside: avoid-page;
}

.option.correct {
    font-weight: bold;
}

.option img {
    margin: 1em 0;
}

.explanation{
    margin-top: 1em;
    color: #D50000;
}