@media print {
    @page {
        size: A4;
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
    line-height: normal;
}

img {
    max-width: 100%;
    max-height: 33%;
}

.question_container {
    margin: 1em 0;
    page-break-inside: avoid;
}

.question {
    margin-bottom: 1em;
    white-space: pre-wrap;
    page-break-inside: avoid;
}

.option.correct {
    font-weight: bold;
}

.option {
    white-space: pre-wrap;
}

.explanation{
    margin-top: 1em;
    color: #D50000;
    white-space: pre-wrap;
}